<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Find a Job</a>
        </li>
        <li class="nav-item dropdown">
          <a href="" class="dropdown-toggle nav-link" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Category
          </a>
          <div class="dropdown-menu p-3" aria-labelledby="dropdownMenuButton">
            <% Category.all.each do |category| %>
              <%= link_to category.name, class: "dropdown-item" %>
            <% end %>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Community</a>
        </li>
        <li class="nav-item">
          <button class="nav-link btn btn-danger rounded-0">Post a job</button>
        </li>
      </ul>
    </div>
  </nav>
</div>

<style type="text/css">
  .text{
    color: #212529;
  }
  #nav ul li:hover a{ 
    color: #212529;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  .dropdown-toggle::after { 
    content: none; 
  }
 .dropdown-menu {
    width: 200px !important
  } 
</style>